FRONTEND_URL=https://dexer.site.je
BACKEND_URL=https://dexo-auth-backend.onrender.com
SESSION_SECRET=CHANGE_TO_A_LONG_RANDOM_SECRET
GOOGLE_CLIENT_ID=PUT_YOUR_GOOGLE_CLIENT_ID_HERE
GOOGLE_CLIENT_SECRET=PUT_YOUR_GOOGLE_CLIENT_SECRET_HERE
DISCORD_CLIENT_ID=PUT_DISCORD_CLIENT_ID_HERE
DISCORD_CLIENT_SECRET=PUT_DISCORD_CLIENT_SECRET_HERE
STEAM_API_KEY=OPTIONAL_FOR_STEAM_PROFILE_API
PORT=10000
